@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Italic.eot');
    src: local('Arimo Italic'), local('Arimo-Italic'),
        url('fonts/Arimo-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-Italic.woff2') format('woff2'),
        url('fonts/Arimo-Italic.woff') format('woff'),
        url('fonts/Arimo-Italic.ttf') format('truetype'),
        url('fonts/Arimo-Italic.svg#Arimo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Medium.eot');
    src: local('Arimo Medium'), local('Arimo-Medium'),
        url('fonts/Arimo-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-Medium.woff2') format('woff2'),
        url('fonts/Arimo-Medium.woff') format('woff'),
        url('fonts/Arimo-Medium.ttf') format('truetype'),
        url('fonts/Arimo-Medium.svg#Arimo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
        url('fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-Regular.woff2') format('woff2'),
        url('fonts/Arimo-Regular.woff') format('woff'),
        url('fonts/Arimo-Regular.ttf') format('truetype'),
        url('fonts/Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-SemiBold.eot');
    src: local('Arimo SemiBold'), local('Arimo-SemiBold'),
        url('fonts/Arimo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-SemiBold.woff2') format('woff2'),
        url('fonts/Arimo-SemiBold.woff') format('woff'),
        url('fonts/Arimo-SemiBold.ttf') format('truetype'),
        url('fonts/Arimo-SemiBold.svg#Arimo-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-MediumItalic.eot');
    src: local('Arimo Medium Italic'), local('Arimo-MediumItalic'),
        url('fonts/Arimo-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-MediumItalic.woff2') format('woff2'),
        url('fonts/Arimo-MediumItalic.woff') format('woff'),
        url('fonts/Arimo-MediumItalic.ttf') format('truetype'),
        url('fonts/Arimo-MediumItalic.svg#Arimo-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-BoldItalic.eot');
    src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'),
        url('fonts/Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-BoldItalic.woff2') format('woff2'),
        url('fonts/Arimo-BoldItalic.woff') format('woff'),
        url('fonts/Arimo-BoldItalic.ttf') format('truetype'),
        url('fonts/Arimo-BoldItalic.svg#Arimo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-SemiBoldItalic.eot');
    src: local('Arimo SemiBold Italic'), local('Arimo-SemiBoldItalic'),
        url('fonts/Arimo-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Arimo-SemiBoldItalic.woff') format('woff'),
        url('fonts/Arimo-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Arimo-SemiBoldItalic.svg#Arimo-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
        url('fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arimo-Bold.woff2') format('woff2'),
        url('fonts/Arimo-Bold.woff') format('woff'),
        url('fonts/Arimo-Bold.ttf') format('truetype'),
        url('fonts/Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

