@font-face {
  font-family: "16 Bit";
  src: url("/assets/16-bit.ttf");
}

html * {
    font-family: "Fira Code","times new roman",Consolas,Monaco,'Andale Mono';
}

span,h1,h2,h3,h4,h5,h6,br,i,p,hr,strong,big,em,code,sub,sup,del,pre,samp{cursor:text;}

#about, #title {
    font-family: "16 Bit","Fira Code","times new roman",Consolas,Monaco,"Andale Mono";
    color: green;
    text-shadow: 0 0 5px rgb(0, 155, 0);
}

header {
    text-align: center;
    margin-bottom: 40px;
    white-space: pre;
}

html {
    background: black;
    text-shadow: 0 0 5px #C8C8C8;
    margin: 50px 100px 100px 100px;
    color: lightblue;
}

.container {
    display: table;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#githubStatsContainer {
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    overflow: auto;
    padding: 1em;
    color: lightblue;
}

#githubStatsContainer hr{border:1px solid lightblue;}

.githubStats {
    padding: .5%;
    text-align: center;
}

#githubRepos {
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    overflow: auto;
    padding: 1em;
}

.githubLinkContainer {
    display: block;
    margin: 10px;
    color: lightblue;
    cursor: pointer;
}

.githubLinkContainer * {
    color: inherit;
    cursor: inherit;
}

#youtubeVids {
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    overflow: auto;
    padding: 1em;
}

.youtubeLinkContainer {
    display: block;
    margin: 10px;
    color: lightblue;
    cursor: pointer;
    margin: 16px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 25px;
}

.youtubeLinkContainer * {
    color: inherit;
    cursor: inherit;
}

.youtubeImage {
    border: 5px solid grey;
    border-radius: 25px;
    margin: 8px;
}

.youtubeDesc {
    padding: 3px;
    font-size: 10px;
}

pre {
    display: inline-block;
    padding: .5%;
    text-align: center;
    clear: both;
    color: #fff;
    background: #1b1b1b;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 28px;
    border-radius: 8px;
    min-width: 100px;
    width: -webkit-max-content;
    width: -moz-max-coo;
}

code {
    font-family:"Fira Code",Menlo,Consolas,Monaco,monospace!important;
    text-shadow: none;
}
