---
import Layout from "@/layouts/base.astro";
---

<Layout>
    <h1>
        Hi There 👋! My name is <i>Jay Jackson</i> and I'm a software developer!
    </h1>
    <br />
    <p>
        I'm currently a student in middle school with a dream to <b
            >change the world!
        </b> (or, at least work at Google).
    </p>
    <br />
    <br />
    <div id="projects">
        <h2>
            I'm currently working on quite a few projects. Probably too many
            then I should have...
        </h2>
        <ul>
            <li>
                <a href="https://github.com/TheBotlyNoob/thebotlynoob.github.io"
                    ><h3>thebotlynoob.github.io</h3>
                </a><p>
                    This website! It is written in Astro and is hosted on GitHub
                    pages.
                </p>
            </li>
            <li>
                <a href="https://is-a.dev"><h3>is-a.dev</h3></a>
                <h3><i>I do not own is-a.dev, I'm just a maintainer.</i></h3>
                <p>
                    is-a.dev is a service that allows you to use a subdomain for your website.
                </p>
            </li>
            <li>
                
            </li>
        </ul>
    </div>
</Layout>
