---
import Layout from "@/layouts/Layout.astro";
import avatar from "@/assets/avatar.jpg";
---

<Layout
    title="Jay Jackson"
    class={["flex", "flex-col", "xl:flex-row", "gap-8"]}
>
    <section
        class:list={[
            "sm:pl-12",
            "hero",
            "min-h-full",
            "hero-content",
            "flex-col",
            "xl:flex-row-reverse",
            "gap-10",
            "w-full",
            "xl:w-6/12"
        ]}
    >
        <img
            class:list={[
                "avatar",
                "shadow-lg",
                "dark:shadow-gray-50",
                "max-w-sm",
                "rounded-lg",
                "w-64"
            ]}
            src={avatar}
            alt="Jay Jackson"
        />
        <div>
            <h1>Jay Jackson</h1>
            <p class:list={["my-6"]}>
                Lover of dogs, anything tech-related, math, and creative
                writing.
            </p>
        </div>
    </section>
    <section
        class:list={[
            "sm:pl-12",
            "hero",
            "min-h-full",
            "hero-content",
            "flex-col",
            "gap-4",
            "w-full",
            "xl:w-6/12"
        ]}
    >
        <h2 class:list={["mt-10"]}>About Me</h2>
        <p class:list={["mt-6"]}>
            Hello 👋! I'm Jay. A devoted student and programmer. My favorite (<i
                >among far too many</i
            >) hobbies are: <kbd
                class:list={["!kbd", "tooltip", "tooltip-info"]}
                data-tip="operating systems">coding</kbd
            >, <a href="https://jj.is-a.dev/solar-system"
                ><kbd
                    class:list={["!kbd", "tooltip", "tooltip-info"]}
                    data-tip="for school">coding</kbd
                ></a
            >, <kbd
                class:list={["!kbd", "tooltip", "tooltip-info"]}
                data-tip="websites">coding</kbd
            >, and <a href="writing"
                ><kbd
                    class:list={["!kbd", "tooltip", "tooltip-success"]}
                    data-tip="storeys and storeys of paper (online)"
                    >writing</kbd
                ></a
            >.
        </p>
    </section>
</Layout>
