---
import Layout from "../layouts/Layout.astro";
import avatar from "../assets/avatar.jpg";
---

<Layout title="Jay Jackson">
    <main class="flex flex-col xl:flex-row">
        <section
            class="hero min-h-screen hero-content flex-col lg:flex-row-reverse gap-10 w-full xl:w-6/12"
        >
            <img
                class="avatar md:shadow-xl dark:shadow-gray-200 max-w-sm rounded-lg w-64"
                src={avatar}
            />
            <div>
                <h1>Jay Jackson</h1>
                <p class="py-6 mx-8">
                    Lover of dogs, anything tech-related, math, and creative
                    writing.
                </p>
            </div>
        </section>
        <section
            class="flex flex-col items-center min-w-6/12 min-h-full w-full lg:w-6/12"
        >
            <h2 class="mt-10">About Me</h2>
            <p class="mt-6">I'm a</p>
        </section>
    </main>
</Layout>
