---
import Layout from "@/layouts/base.astro";
import "@/styles/playit-config-generator.css";
---

<Layout>
  <script defer async src="/src/ts/playit-config-generator.ts"></script>

  <div id="input">
    <input id="secret-key" type="text" placeholder="Secret Key" />
  </div>

  <button></button>

  <!-- 
    #[derive(Serialize, Deserialize, Debug)]
    pub struct AgentConfig {
      #[serde(skip_serializing_if = "Option::is_none")]
      pub api_url: Option<String>,
      pub secret_key: String,
      #[serde(alias = "mapping")]
      pub mappings: Vec<PortMapping>,
    }
    #[derive(Serialize, Deserialize, Debug)]
    pub struct PortMapping {
      pub proto: ClaimProto,
      pub tunnel_ip: Ipv4Addr,
      #[serde(alias = "tunnel_port")]
      pub tunnel_from_port: u16,
      pub tunnel_to_port: Option<u16>,
      pub local_ip: Option<Ipv4Addr>,
      pub local_port: Option<u16>,
    }
 -->

  <div id="output">
    <h1>Output:</h1>
    <hr />
    <pre id="config-output"></pre>
  </div>
</Layout>
