* {
  cursor: none;
}

#cursor {
  position: fixed;
  z-index: 1;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid var(--cursor-circle-color);
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;
  background-color: black;
}
