:root {
  --cursor-circle-color: #cacaca;
  --background-color: white;
  --font-color: black;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
}

.hidden {
  display: none;
}
