@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-UltraLight.eot');
    src: local('Aileron UltraLight'), local('Aileron-UltraLight'),
        url('fonts/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-UltraLight.woff2') format('woff2'),
        url('fonts/Aileron-UltraLight.woff') format('woff'),
        url('fonts/Aileron-UltraLight.ttf') format('truetype'),
        url('fonts/Aileron-UltraLight.svg#Aileron-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-BlackItalic.eot');
    src: local('Aileron Black Italic'), local('Aileron-BlackItalic'),
        url('fonts/Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-BlackItalic.woff2') format('woff2'),
        url('fonts/Aileron-BlackItalic.woff') format('woff'),
        url('fonts/Aileron-BlackItalic.ttf') format('truetype'),
        url('fonts/Aileron-BlackItalic.svg#Aileron-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-UltraLightItalic.eot');
    src: local('Aileron UltraLight Italic'), local('Aileron-UltraLightItalic'),
        url('fonts/Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-UltraLightItalic.woff2') format('woff2'),
        url('fonts/Aileron-UltraLightItalic.woff') format('woff'),
        url('fonts/Aileron-UltraLightItalic.ttf') format('truetype'),
        url('fonts/Aileron-UltraLightItalic.svg#Aileron-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Regular.eot');
    src: local('Aileron Regular'), local('Aileron-Regular'),
        url('fonts/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Regular.woff2') format('woff2'),
        url('fonts/Aileron-Regular.woff') format('woff'),
        url('fonts/Aileron-Regular.ttf') format('truetype'),
        url('fonts/Aileron-Regular.svg#Aileron-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Thin.eot');
    src: local('Aileron Thin'), local('Aileron-Thin'),
        url('fonts/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Thin.woff2') format('woff2'),
        url('fonts/Aileron-Thin.woff') format('woff'),
        url('fonts/Aileron-Thin.ttf') format('truetype'),
        url('fonts/Aileron-Thin.svg#Aileron-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Light.eot');
    src: local('Aileron Light'), local('Aileron-Light'),
        url('fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Light.woff2') format('woff2'),
        url('fonts/Aileron-Light.woff') format('woff'),
        url('fonts/Aileron-Light.ttf') format('truetype'),
        url('fonts/Aileron-Light.svg#Aileron-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-SemiBoldItalic.eot');
    src: local('Aileron SemiBold Italic'), local('Aileron-SemiBoldItalic'),
        url('fonts/Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Aileron-SemiBoldItalic.woff') format('woff'),
        url('fonts/Aileron-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Aileron-SemiBoldItalic.svg#Aileron-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Bold.eot');
    src: local('Aileron Bold'), local('Aileron-Bold'),
        url('fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Bold.woff2') format('woff2'),
        url('fonts/Aileron-Bold.woff') format('woff'),
        url('fonts/Aileron-Bold.ttf') format('truetype'),
        url('fonts/Aileron-Bold.svg#Aileron-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-ThinItalic.eot');
    src: local('Aileron Thin Italic'), local('Aileron-ThinItalic'),
        url('fonts/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-ThinItalic.woff2') format('woff2'),
        url('fonts/Aileron-ThinItalic.woff') format('woff'),
        url('fonts/Aileron-ThinItalic.ttf') format('truetype'),
        url('fonts/Aileron-ThinItalic.svg#Aileron-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-LightItalic.eot');
    src: local('Aileron Light Italic'), local('Aileron-LightItalic'),
        url('fonts/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-LightItalic.woff2') format('woff2'),
        url('fonts/Aileron-LightItalic.woff') format('woff'),
        url('fonts/Aileron-LightItalic.ttf') format('truetype'),
        url('fonts/Aileron-LightItalic.svg#Aileron-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Black.eot');
    src: local('Aileron Black'), local('Aileron-Black'),
        url('fonts/Aileron-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Black.woff2') format('woff2'),
        url('fonts/Aileron-Black.woff') format('woff'),
        url('fonts/Aileron-Black.ttf') format('truetype'),
        url('fonts/Aileron-Black.svg#Aileron-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-SemiBold.eot');
    src: local('Aileron SemiBold'), local('Aileron-SemiBold'),
        url('fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-SemiBold.woff2') format('woff2'),
        url('fonts/Aileron-SemiBold.woff') format('woff'),
        url('fonts/Aileron-SemiBold.ttf') format('truetype'),
        url('fonts/Aileron-SemiBold.svg#Aileron-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-HeavyItalic.eot');
    src: local('Aileron Heavy Italic'), local('Aileron-HeavyItalic'),
        url('fonts/Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-HeavyItalic.woff2') format('woff2'),
        url('fonts/Aileron-HeavyItalic.woff') format('woff'),
        url('fonts/Aileron-HeavyItalic.ttf') format('truetype'),
        url('fonts/Aileron-HeavyItalic.svg#Aileron-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Heavy.eot');
    src: local('Aileron Heavy'), local('Aileron-Heavy'),
        url('fonts/Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Heavy.woff2') format('woff2'),
        url('fonts/Aileron-Heavy.woff') format('woff'),
        url('fonts/Aileron-Heavy.ttf') format('truetype'),
        url('fonts/Aileron-Heavy.svg#Aileron-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-BoldItalic.eot');
    src: local('Aileron Bold Italic'), local('Aileron-BoldItalic'),
        url('fonts/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-BoldItalic.woff2') format('woff2'),
        url('fonts/Aileron-BoldItalic.woff') format('woff'),
        url('fonts/Aileron-BoldItalic.ttf') format('truetype'),
        url('fonts/Aileron-BoldItalic.svg#Aileron-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Italic.eot');
    src: local('Aileron Italic'), local('Aileron-Italic'),
        url('fonts/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aileron-Italic.woff2') format('woff2'),
        url('fonts/Aileron-Italic.woff') format('woff'),
        url('fonts/Aileron-Italic.ttf') format('truetype'),
        url('fonts/Aileron-Italic.svg#Aileron-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

