---
import "@/css/reset.css";
import "bulma/css/bulma.css";
import "@/css/cursor.css";
import "@/css/global.css";
import NavBar from "@/components/navigation.astro";

export interface props {
  title?: string | undefined;
}

let { title } = Astro.props as props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" defer async src="/src/ts/prism.ts"></script>
    <script type="module" defer async src="/src/ts/cursor.ts"></script>

    <title>{title ? `${title} | JJ` : "JJ"}</title>
  </head>
  <body>
    <NavBar />

    <slot />
  </body>
</html>
