---
export interface Props {
    title: string;
    class: string[];
}
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class:list={["h-full", "w-full"]}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
            const root = document.documentElement;
            if (localStorage.getItem("theme") === null)
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    root.setAttribute("data-theme", "night");
                    root.classList.add("dark");
                } else root.setAttribute("data-theme", "emerald");
            else {
                const theme = localStorage.getItem("theme");
                root.setAttribute("data-theme", theme);
                if (theme === "night") {
                    root.classList.add("dark");
                    document.addEventListener(
                        "DOMContentLoaded",
                        () =>
                            (document.getElementById("theme-toggle").checked =
                                true)
                    );
                }
            }

            document.addEventListener("DOMContentLoaded", () => {
                const toggle = document.getElementById("theme-toggle");
                toggle.addEventListener("click", () => {
                    if (toggle.checked) {
                        root.classList.add("dark");
                    } else {
                        root.classList.remove("dark");
                    }
                });
            });
        </script>
        <script>
            import { themeChange } from "theme-change";
            themeChange();
        </script>
        <title>{Astro.props.title}</title>
    </head>
    <body class:list={["w-full", "h-full", "py-4", "bg-base-200", "font-mono"]}>
        <div>
            <label for="theme-toggle" hidden>Toggle theme</label>
            <input
                type="checkbox"
                class:list={["absolute", "top-2", "right-3", "z-50", "toggle"]}
                id="theme-toggle"
                data-toggle-theme="night,emerald"
                data-act-class="light"
            />
        </div>
        <main
            class:list={[
                "min-w-full",
                "min-h-full",
                "flex",
                "items-center",
                ...Astro.props.class
            ]}
        >
            <slot />
        </main>
    </body>
</html>
<style is:global type="scss">
    :root {
        font-size: 140%;
    }
    h1,
    h2,
    h3,
    h4 {
        @apply font-serif font-bold;
    }
    h1 {
        @apply !text-5xl;
    }
    h2 {
        @apply !text-4xl;
    }
    h3 {
        @apply !text-3xl;
    }
    h4 {
        @apply !text-2xl;
    }

    mark {
        @apply text-neutral-content bg-secondary dark:text-neutral;
    }
    mark[secondary] {
        @apply bg-accent;
    }
</style>
