---
import "@/css/global.css";
import NavBar from "@/components/navigation.astro";

export interface props {
    title?: string | undefined;
}

let { title } = Astro.props as props;
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{title ? `${title} | JJ` : "JJ"}</title>
    </head>
    <body>
        <NavBar />

        <slot></slot>
    </body>
</html>
