---
import NavBar from '@/components/navigation.astro';
import AnimatedCursor from '@/components/animated-cursor.astro';
import '@/styles/global.scss';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title ? `${title} | JJ` : 'JJ'}</title>
  </head>
  <body>
    <AnimatedCursor />

    <NavBar />
    <slot />
  </body>
</html>
