---
import Layout from "@/layouts/Layout.astro";

const { frontmatter } = Astro.props as {
    frontmatter: {
        title: string;
    };
};
---

<Layout
    title={frontmatter.title}
    class={["p-2", "lg:p-5", "flex-col", "gap-8"]}
>
    <h1>{frontmatter.title}</h1>
    <slot />
</Layout>
