---
import Layout from "@/layouts/Layout.astro";

const writings = await Astro.glob("./*.md");
---

<Layout
    title="My Writings"
    class={["flex-col", "items-center", "!justify-normal", "gap-12"]}
>
    <h1>Writings</h1>
    <p></p>
    <section class:list={["flex", "flex-row"]}>
        {
            writings.map((writing) => (
                <a href={writing.url}>
                    <article>
                        <h2>{writing.frontmatter.title}</h2>
                    </article>
                </a>
            ))
        }
    </section>
</Layout>
